/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}
.layout-column {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #edf2ec;
}
.header__content {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 28px;
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}
.header__name {
  color: #010201;
}
.header__icon {
  width: 20px;
  height: 20px;
}
.header__name span {
  letter-spacing: 0.7px;
}
.header__nav {
  align-self: flex-end;
  width: 452px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu li {
  letter-spacing: 0.7px;
}
.header__menu li:first-child {
  padding-left: 0px;
}
.header__menu li a {
  color: #010201;
}
.header__menu li a:hover {
  color: #e06733;
}

.welcome {
  padding-top: 76px;
  padding-bottom: 62px;
  background-color: #edf2ec;
}

.welcome__img {
  margin-right: 224.2px;
  height: 407px;
  width: 448px;
}
.welcome__content {
  font-family: 'Inter', sans-serif;
}
.content {
  align-self: center;
}
.welcome__title {
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 42px;
  letter-spacing: 0.5px;
}
.welcome__title span {
  color: #499a18;
}

.welcome__text {
  line-height: 35px;
  letter-spacing: 0.4px;
  margin-bottom: 49px;
}
.text {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #636060;
}
.welcome__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 158px;
  height: 44px;
  border: 2px solid #e06733;
  border-radius: 10px;
  cursor: pointer;
}
.welcome__button:hover {
  color: #ffffff;
  background-color: #e06733;
  transition: all 0.5s;
}
.about {
  margin-bottom: 87px;
}
.about__content {
  margin-top: 89px;
}
.about__title {
  width: 463px;
  height: 102px;
}
.about__title span {
  color: #e06733;
  letter-spacing: 0px;
}
.title {
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 51px;
  color: #499a18;
  letter-spacing: 0.6px;
}
.about__text {
  margin-top: 40px;
  line-height: 30px;
  width: 605px;
  height: 208px;
  word-spacing: 0px;
  letter-spacing: 0.3px;
}

.about__img {
  width: 464px;
  height: 479px;
  margin-top: 93px;
  margin-left: 153px;
}

/* service */

.service {
  background-color: #edf2ec;
  padding-top: 40px;
  padding-bottom: 64px;
}

.service__header {
  display: flex;
  margin-bottom: 89px;
}
.service__title {
  width: 306px;
  height: 94px;
  letter-spacing: 0.3px;
  word-spacing: -3px;
}
.service__sorting {
  margin-left: 142px;
  margin-top: 29px;
}
.service__button {
  margin-right: 34px;
}
.button {
  width: 161px;
  height: 50px;
  border: 1px solid;
  border-color: #e06733;
  border-radius: 5px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #e06733;
  font-family: 'Inika', serif;
  background-color: #11ffee00;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #e06733;
  transition: all 0.5s;
}

.service__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__block {
  width: 330px;
  height: 450px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 56px;
}
.service__img {
  width: 329px;
  height: 350px;
  display: block;
}
.service__description {
  text-align: center;
  border: 1px solid #e3e1d5;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
}
.service__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin-bottom: 14px;
  padding-top: 11px;
  letter-spacing: 0.5px;
}
.service__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  letter-spacing: 0.5px;
  padding-bottom: 35px;
}

/* prices */

.prices {
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  margin-bottom: 111px;
}
.prices__column {
  width: 332px;
  height: 391px;
}
.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 60px;
}
.prices__column2 {
  width: 452px;
  text-align: right;
}
.prices__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.prices__subtitle span {
  color: rgba(73, 154, 24, 1);
}
.prices__accordion {
  border: solid 1px #e3e1d5;
  border-radius: 20px;
  width: 332px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0px;
}
.prices__content {
  background-color: #edf2ec;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
}
.prices__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.prices__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(imgs/icon/accordion-arrow.svg) no-repeat;
  align-self: center;
  cursor: pointer;
}
.prices__icon:hover {
  background: url(imgs/icon/accordion_arrow2.svg) no-repeat;
  transition: all 0.3s;
}

.prices__img {
  width: 152px;
  height: 175px;
  margin-top: 39px;
}
.prices__button {
  margin-top: 40px;
  text-align: right;
}

/* contacts */

.contacts {
  background: #edf2ec;
}
.contacts__title {
  font-weight: 700;
  font-size: 42px;
  color: #499a18;
  text-align: center;
  padding-top: 61px;
  margin-left: 37px;
  letter-spacing: 0px;
}
.contacts__img {
  width: 400px;
  height: 497px;
  display: inline-block;
  margin-top: 53px;
}

.contacts__form {
  margin-top: 148px;
}
.contacts__list {
  background-color: #d6e7d2;
  border: none;
  width: 450px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  letter-spacing: 1.5px;
  appearance: none;
  background-image: url('imgs/icon/contact_arrow.svg');
  background-position: 399px;
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.contacts__list:hover {
  background-image: url('imgs/icon/contact_arrow2.svg');
  background-repeat: no-repeat;
  background-color: #c1e698;
  transition: all 0.3s;
}

.contacts__option {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #499a18;
  letter-spacing: 0.05em;
  border: none;
}
.contacts__option:hover {
  background-color: #dce9d9;
}
.option--hidden {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
}

/* footer */
.footer {
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wrapper {
}
.layout-column {
}
.footer__text {
  margin-right: 17px;
}
.footer__github {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000;
  letter-spacing: 0.6px;
}
.footer__school {
  margin-left: 18px;
  letter-spacing: 0.5px;
}
.footer__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000;
}
.footer__school {
}
.footer__icon {
  align-self: center;
  display: flex;
}
.footer__icon li {
  margin-right: 20px;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}
.footer__icon :last-child {
  margin-right: 0px;
}
.tx {
}
